$ShadowPoly: rgba(0,0,0,.6);
$blue: #0570B8;






@keyframes slideShow {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0vw);
    }
}






html,body {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    // font-family: 'Montserrat', serif;
    font-family: 'Spectral', serif;
    font-weight: 400;
    // color: $text;
    input:focus, textarea:focus, select:focus {
        outline: none;
    }
    & a{
        text-decoration: none;
    }
    

}




.sticky {
    z-index: 10;
    position: sticky;
    top: 0;
    &_logo {
        margin-top: -.1vw;
        & img {
            height: 8.3333333333333333333333333333333vw;
            margin-left: 11.979166666666666666666666666667vw;
        }    
    }
    &_menu {
        & ul {
            list-style: none;
            display: flex;
            margin-top: -7.5vw;
            margin-left: 31.770833333333333333333333333333vw;
            & li {
                font-family: Clo;
                color: white;
                font-size: 1.5vw;
                background-color: $blue;
                display: flex;
                // border: solid white;
                width: 11.145833333333333333333333333333vw;
                height: 2.9166666666666666666666666666667vw;
                margin-right: 1.5625vw;
                text-align: center;
                justify-content: center;
                align-items: center;
            }
        }
        
    }
}
.intro {
    height: 52.03125vw;
    width: 100vw;
    // background-color: black;
    position: relative;
    margin-top: -10vw;
    z-index: -10;
    top: 0;
    left: 0;
    &_poly {
        background-color: $ShadowPoly;
        position: relative;
        z-index: 10;
        height: 52.03125vw;
        clip-path: polygon(0% 0%, 79.958333333333333333333333333333% 0%, 25% 100%, 0% 100%);
        
    }
    &_slides {
        // background-image: url(../resources/slideshow/1.png);
        height: 52.03125vw;
        margin-top: -52.03125vw;
        // margin-left: 50vw;
        position: relative;
        z-index: 9;
        // opacity: 1;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_metal {
        height: 52.03125vw;
        margin-top: -52.03125vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../resources/metal.png);
    }
}
.section1 {
    // height: 33.75vw;
    height: 50vw;
    width: 100vw;
    background-image: url(../resources/metal.png);
    // margin-top: 48vw;
    margin-top: -.5vw;
    margin-left: -.125vw;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    &_spacer{
        height: 10vw;
        background-color: white;
        position: relative;
        z-index: 20;
    }
    &_tris {
        top: 10vw;
        height: 33vw;
        width: 30vw;
        // margin-top: 10vw;
        border: solid $blue 3px;
        color: white;
        & h1 {
            height: 1vw;
            text-align: center;
            font-weight: normal;
            // background-color: yellowgreen;
        } 
        &.left {
            display: flex;
            margin-top: 10vw;
            flex-direction: column;
            // background-color: #ffffff;
            justify-content: space-between;
            &_top {
                border: solid red 2px;
                flex-basis: 1vw;
                // background-color: white;
                
                margin-bottom: 3vw;
                &_text {
                    flex-basis: 1vw;
                    margin-top: 2.5vw;
                    height: 1.5vw;
                    text-align: center;
                    font-size: 1vw;
                    vertical-align: middle;
                    // background-color: yellowgreen;
                }
            }
            &_bottom {
                border: solid red 2px;
                background-image: url(../resources/triangles/1.webp);
                background-size: cover;
                clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
            }
        }
        &.mid {
            display: flex;
            margin-top: 10vw;
            flex-direction: column;
            // background-color: #ffffff;
            &_top {
                perspective: 10vw;
                transform-style: preserve-3d;
                z-index: 50;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        &.right {
            display: flex;
            flex-direction: column;
            background-color: #ffffff;
        }
    }
}